<ion-header>
    <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="color:gold" >Clientes </ion-title>
      <ion-buttons end>
          <button ion-button (click)="closeModal()"> VOLTAR</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
   
      <form  [formGroup]="formGroup">
          <ion-card>
          <ion-grid>
              <ion-list *ngFor="let client of agClients">
                  <ion-row>
                  <ion-col>
                      <ion-label stacked>Cliente</ion-label>
                      <ion-item>
                      <ion-input
                            formControlName="clientsValue"
                            value="{{client.name}}"
                             type="text">
                      </ion-input>
                    </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-label stacked>Tipo Cliente</ion-label>
                     <ion-item>
                     <ion-input readonly="true" 
                            formControlName="tipoCliente"
                            value="{{client.typeClient.typeName}}"
                            type="text">
                     </ion-input>
                     <ion-select class="edit-select" multiple="false" formControlName="tipoCliente" >
                        <ion-option *ngFor="let typeClient of typeClientList" 
                                    [selected]="typeClient.typeName == client.typeClient.typeName"    
                                    value="{{typeClient.id}}" >{{typeClient.typeName}}
                        </ion-option>
                     </ion-select>
                    </ion-item>
                    </ion-col>
                    <ion-col>
                    <ion-label stacked> Cliente Agrosul? </ion-label>
                    <ion-select class="edit-select" multiple="false" formControlName="isClientAgrosul" >
                        <ion-option [selected]="client.isClient == true"    
                                    value="true" >Sim
                        </ion-option>
                        <ion-option [selected]="client.isClient == false"    
                                    value="false" >Não
                        </ion-option>
                    </ion-select>
                    </ion-col> 
                  </ion-row>
                <ion-card>
                  <ion-row >
                    <ion-col style="background-color: rgb(187, 250, 187); text-align: center;font-weight: bold"> 
                        Fazendas
                    </ion-col>
                  </ion-row>
                  <ion-row >
                        <ion-col>
                        <ion-label stacked> Nome </ion-label>
                        </ion-col> 
                        <ion-col>
                            <ion-label stacked> Localização </ion-label>
                        </ion-col> 
                        <ion-col>
                            <ion-label stacked> Area: Total - Produtiva </ion-label>
                        </ion-col> 
                        <ion-col>
                            <ion-label stacked> Editar  </ion-label>
                        </ion-col>      
                  </ion-row>
                <ion-list *ngFor="let farm of client.farms; first as isFirst;index as i">
                  <ion-row>
                    <ion-col>
                    <ion-item class="gridFarmClass" >
                        <ion-input readonly="true"
                             formControlName="farmsDetailName"
                              value="{{farm.farmName}}"
                                  type="text">
                        </ion-input>
                    </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input readonly="true"
                              value="{{farm.agrosulLocation.locationName}}"
                                  type="text">
                        </ion-input>
                     </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                          <ion-input readonly="true"
                                value="{{farm.totalArea}} - {{farm.totalAreaType}} "
                                    type="text">
                          </ion-input>
                       </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <button ion-button round small outline  (click)="editFarm(farm)">ir</button>
                        </ion-item>
                    </ion-col>
                    
                  </ion-row>
            </ion-list>
        </ion-card>
      </ion-list>
      <ion-col col-4>
            <button ion-button round small outline  (click)="saveData()">Salvar</button>
      </ion-col>
   </ion-grid>
   </ion-card>
   
</form>
  
  
      
  
  </ion-content>
  