
 
<ion-content #pageContent fullscreen>
    <form [formGroup]="formGroup" >

    <ion-grid>
        <ion-row>
           <ion-col  >
                <ion-item>
                    <ion-label stacked>Região Agrosul</ion-label>
                        <ion-select multiple="false" formControlName="agLocationValue">
                        <ion-option *ngFor="let agLoc of agLocation" 
                                    value="{{agLoc.id}}" >{{agLoc.locationName}}
                        </ion-option>
                        </ion-select>
                </ion-item> 
            </ion-col>
          <!--  <ion-col col-2>
                    <ion-item>
                        <ion-label stacked>Ano Máquina</ion-label>
                        <ion-select multiple="true"  formControlName="anoMaquinaValue"  >
                        <ion-option *ngFor="let ano of listAno" 
                                value="{{ano}}" >{{ano}}
                        </ion-option>
                         </ion-select>
                       
                          
                  </ion-item> 
                </ion-col>
               <ion-col col-3>
            <ion-label stacked>Tipo Grafico </ion-label>
            <ion-select multiple="false"  formControlName="chartTypeX"  id="tipoG" >
                <ion-option  value="marca"  >Marcas</ion-option>
                <ion-option  value="equipamento"  >Tipo Equipamento</ion-option>
                <ion-option  value="regiao_ag"  >Região</ion-option>
                <ion-option  value="proprietario"  >Proprietários</ion-option>
                <ion-option  value="concessionaria"  >Concessionárias</ion-option>
                <ion-option  value="ano"  >Ano Máquina</ion-option>
            </ion-select>
           </ion-col>
           <ion-col >
                <ion-label stacked>Limite Resultados</ion-label>
                <ion-select multiple="false"   formControlName="lineLimit"    >
                    <ion-option  value="5"  >5</ion-option>
                    <ion-option  value="10"  >10</ion-option>
                    <ion-option  value="15"  >15</ion-option>
                    <ion-option  value="20"  >20</ion-option>
                    <ion-option  value="25"  >25</ion-option>
                    <ion-option  value="9999"  >Todos</ion-option>
                </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col  >
            <ion-item>
              <ion-label stacked>Área </ion-label>
              <ion-select multiple="true"    formControlName="farmArea" >
                  <ion-option value="areapropria"> Própria </ion-option>
                  <ion-option value="areaarrendada"> Arrendada</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
       
           <ion-col  > 
              <ion-item>
              <ion-label stacked>Tipo de Área </ion-label>
              <ion-select multiple="true"  formControlName="farmAreaType"    >
                  <ion-option value="1"> Sequeiro </ion-option>
                  <ion-option value="2"> Irrigada</ion-option>
              </ion-select>
            </ion-item>
          </ion-col> 
          <ion-col  >
              <ion-item>
                  <ion-label stacked>Tipo de Cultura</ion-label>
                    <ion-select multiple="true" formControlName="seedType">
                        <ion-option *ngFor="let seed of agSeeds"
                          value="{{seed.id}}" >{{seed.seedName}}
                        </ion-option>
                    </ion-select>
              </ion-item>
          </ion-col>-->
        
         <!--  <ion-col  >
              <ion-item>
                  <ion-label stacked>Proprietários</ion-label>
                    <ion-select multiple="true" formControlName="clientValue"  > 
                        <ion-option *ngFor="let client of agClients" 
                        value="{{client.id}}" >{{client.name}}
                    </ion-option>
                    </ion-select>
            </ion-item> 
          </ion-col>
        
          <ion-col  >
              <ion-item>
                  <ion-label stacked>Tamanho p/ Cultura</ion-label>
                    <ion-select multiple="true" formControlName="clientSize"   >
                        <ion-option  value="GP">GP</ion-option>
                        <ion-option  value="PP">PP</ion-option>
                    </ion-select>
                    
            </ion-item> 
          </ion-col>
          <ion-col  >
              <ion-item>
                  <ion-label stacked>Tamanho p/ Área</ion-label>
                    <ion-select multiple="true"  formControlName="areaSize" >
                        <ion-option value="mg" >Mega</ion-option>
                        <ion-option value="g" >Grande</ion-option>
                        <ion-option value="md" >Médio</ion-option>
                        <ion-option value="p" >Pequeno</ion-option>
                    </ion-select>
                    
            </ion-item> 
          </ion-col>
        -->
        </ion-row>

        
        <ion-row>
            <ion-col>
                    <button [disabled]="!isenabled"  ion-button block (click)="submitForm($event)">Filtrar</button>
            </ion-col>
            <ion-col col-9>
            </ion-col>
          <!--  <ion-col>
                 <button id="btnAddNew" ion-button block (click)="addNew()">Máquinas</button>
            </ion-col>-->
        </ion-row>
      </ion-grid>
      <ion-row >
        <ion-label stacked>Total Máq.</ion-label>
        <ion-input readonly="true" formControlName="sumMaquinas" type="text"></ion-input>

        <ion-col  col-8></ion-col>
        <ion-label stacked>Total Máq.</ion-label>
        <ion-input readonly="true" formControlName="sumMaquinasRegiao" type="text"></ion-input>
      </ion-row>
      <ion-row >
        <ion-col   >
         <canvas #barCanvas></canvas>
        </ion-col >
        <ion-col >
           <canvas #pieCanvasCompared></canvas>
        </ion-col>
      </ion-row >

      <ion-row >
        <ion-col   >
            <canvas #barCanvasDetail></canvas>
        </ion-col >
        <ion-col   >
            <canvas #barCanvasCompared></canvas>
        </ion-col>
      </ion-row >  
    <ion-row >
        <ion-col >
            <canvas #barCanvasDetailOwner></canvas>
        </ion-col >
    </ion-row > 
   <!--   <ion-row>
        <ion-col >
            <button id="btnFindData"  [disabled]="!isenabled" ion-button block (click)="loadDetail()">Ver Clientes</button>
         </ion-col>
         
    </ion-row>-->
     <ion-row style="background-color:#d2ffd7;font-weight:bold">
        <ion-col col-3></ion-col>

        <ion-col>
            <ion-input readonly="true" formControlName="clientName" type="text"></ion-input>
        </ion-col>
        <ion-col>
            <ion-input readonly="true" formControlName="lastbrandName" type="text"></ion-input>
        </ion-col>
        <ion-col col-3></ion-col>
     </ion-row>
     
   </form>
   
   <ngx-datatable  class="bootstrap"  [rows]="rows" [columnMode]="'force'" 
         [sortType]="'multi'" [reorderable]="reorderable" [headerHeight]="50"   [limit]="20" [footerHeight]="50"  [rowHeight]="'auto'" >
     <ngx-datatable-column name="tipoEquipamento" >
            <ng-template ngx-datatable-header-template>Tipo Máquina</ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column  name="brandName" [resizeable]="false">
            <ng-template ngx-datatable-header-template>Modelo</ng-template>
          </ngx-datatable-column>
    <ngx-datatable-column name="ano" >
        <ng-template ngx-datatable-header-template>Ano</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column  name="detailTable" >
            <ng-template   ngx-datatable-header-template>Especificação</ng-template>
        </ngx-datatable-column>
    <ngx-datatable-column name="total" >
            <ng-template ngx-datatable-header-template>Quantidade</ng-template>
     </ngx-datatable-column>
   </ngx-datatable>

   <!--  <form [formGroup]="formGroup2"  >
    <ion-grid>
        <ion-row>
        <ion-col>
            ?
        </ion-col>
         <ion-col>
            Cliente
         </ion-col>
         <ion-col>
            Tipo Cliente
         </ion-col>
         <ion-col>
              Detalhes
         </ion-col>
        </ion-row>
        <ion-row>
                <ion-col>
                        
                </ion-col>
                 <ion-col>
                    <input
                    type='text'
                    style='width:100%;'
                    placeholder='Digite um nome para buscar...'
                    (keyup)='updateFilter($event)'
                    />
                 </ion-col>
                 <ion-col>
                    
                 </ion-col>
                 <ion-col>
                    
                 </ion-col>
                </ion-row>

    
        <ion-list *ngFor="let client of this.formGroup2.value.clientsValue">
            <ion-row>
             <ion-col>
              <ion-label color="secondary" *ngIf="client.isClienteAgrosul==true">Sim</ion-label>
              <ion-label color="danger" *ngIf="client.isClienteAgrosul==false">Não</ion-label>
             </ion-col> 
            <ion-col>
              <ion-input readonly="true"
                    value="{{client.name}}"
                        type="text">
              </ion-input>
            </ion-col>
            <ion-col>
             <ion-input readonly="true" 
                    value="{{client.typeClient.typeName}}"
                    type="text">
             </ion-input>
            </ion-col>
            <ion-col>
              <button ion-button color="secondary" (click)="detailClient(client)">
                  IR
               </button>
            </ion-col>
            </ion-row>
        </ion-list>
      
    </ion-grid>
  </form>-->

</ion-content>