page-area-charts-detail {
    .select{
        font-size:small;
    }
    .table-header{
        background-color: aquamarine;
    }

    .item-list .col{
        padding: 0%;
        margin: 0%;
    }
    
    .ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even{
        background-color:#d2ffd7;
    }

    .displayAreaInfo .row{
        padding: 0%;
        margin: 0%;
        height:20px;
    }
    .displayAreaInfo .row .label{
        padding: 0%;
        margin: 0%;
        font-weight: bolder;
        font-size:medium;
    }

    .displayAreaInfo .row .text-input-md{
        padding: 0%;
        margin: 0%;
        font-weight: bolder;
        font-size:medium;
    }

    .displayAreaInfo .text-input-md{
        padding: 0%;
        margin: 0%;
        font-weight: bolder;
        font-size:medium;
    }

    .itemTotalDisplayCard{
        font-weight: bolder;
        font-size:medium;        
    }

    .displayinnerAreaInfo .row{
        padding: 0%;
        margin: 0%;
        height:30px;
    }   

    .displayTableCard {
        border-bottom-color: black;
        border-style: solid;
        border-bottom-width: 1px;
        margin-bottom: 0px;
        padding-bottom: 5%;
        border-width:thin; 
    }
    .displayTableCard .row{
        height:30px;
        padding: 0%;
        padding-bottom: 5%;
    }
    .displayTableCard .label{
       font-size: 1.4rem;
       font-weight: bold;
    }
    .displayTableCard .text-input-md{
        font-size: 1.4rem;
        font-weight: bold;
    }
  

}
