<ion-content padding>
    <form>
        <ion-card>
            <ion-grid>
                <ion-list *ngFor="let client of agClients">
                    <ion-row>
                        <ion-col>
                            <ion-label stacked>Cliente</ion-label>
                            <ion-item>
                                <ion-input readonly="true" value="{{client.name}}" type="text">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-label stacked>Tipo Cliente</ion-label>
                            <ion-item>
                                <ion-input readonly="true" value="{{client.typeClient.typeName}}" type="text">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-label stacked>Cliente Agrosul?</ion-label>
                            <ion-item>
                                <ion-label stacked color="secondary" *ngIf="client.isClienteAgrosul==true">Sim
                                </ion-label>
                                <ion-label stacked color="danger" *ngIf="client.isClienteAgrosul==false">Não</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                   

                </ion-list>

            </ion-grid>
        </ion-card>
    </form>




</ion-content>