page-client {
     .label  {
        color:  rgb(0, 95, 29);
        font-weight:bolder;
    }
    .input{
        font-size:small;
    }
    
    .table-header{
        background-color: aquamarine;
    }

    .item-list .col{
        padding: 0%;
        margin: 0%;
        
                
    }
   
    
}
