<ion-header>
    <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="color:gold" >Editar Fazenda </ion-title>
      <ion-buttons end>
          <button ion-button > VOLTAR</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <form  [formGroup]="formGroup">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
                <ion-label>Fazenda</ion-label>
                <ion-input type="text" formControlName="farmName" name="title"></ion-input>
             </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-label>Telefone</ion-label>
                <ion-input type="text" formControlName="phoneNumber" name="title"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="text" formControlName="clientEmail" name="title"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <ion-item>
                  <ion-label>Observação</ion-label>
                  <ion-input type="text" formControlName="generalObs" name="title"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                  <ion-label>Área Total</ion-label>
                  <ion-input type="text" formControlName="totalArea" name="title"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
            <ion-item>
                <ion-label>Área Produtiva</ion-label>
                <ion-input type="text" formControlName="totalAreaType" name="title"></ion-input>
            </ion-item>
          </ion-col>
       </ion-row>

       <ion-row>

          <ion-col col-4>
              <ion-card>
                   <ion-list *ngFor="let farmArea of this.listFarmAreas;index as i">
                     <ion-row> 
                     <ion-col>
                        <ion-select class="edit-select" multiple="false" >
                           <ion-option *ngFor="let areaType of this.farmAreas" 
                                       [selected]="areaType.id == farmArea.farmAreaType.id"    
                                       value="{{areaType.id}}" >{{areaType.typeName}}
                           </ion-option>
                        </ion-select>
                     </ion-col>
                     <ion-col>
                       <ion-item>
                         <ion-input type="text" formControlName="fATotalArea" value="{{farmArea.totalArea}}"name="title"></ion-input>
                       </ion-item>
                     </ion-col>
                     <ion-col>
                       <button ion-button round small outline  (click)="updateFarmArea(farmArea)">Editar</button>
                     </ion-col>
                   </ion-row>
                   </ion-list>
            </ion-card>
        </ion-col>
        <ion-col col-4>
           <ion-card>
                <ion-list *ngFor="let ffield of this.listFarmField;index as i">
                  <ion-row> 
                  <ion-col>
                     <ion-select class="edit-select" multiple="false" >
                        <ion-option  *ngFor="let farmFielType of this.farmFields"   (ionSelect)="onfarmFielTypeChange(farmFielType,ffield.totalAreaType)" 
                                        [selected]="farmFielType.id == ffield.farmFielType.id"  value="{{farmFielType.id}}" >{{farmFielType.typeName}}
                         </ion-option>
                     </ion-select>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input type="text" formControlName="farmFieldsTotalAreaType" value="{{ffield.totalAreaType}}"name="title"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <button ion-button round small outline  (click)="updateFarmField(ffield)">Editar</button>
                  </ion-col>
                </ion-row>
                </ion-list>
            </ion-card>
          </ion-col>
          <ion-col col-4>
                <ion-card>
                     <ion-list *ngFor="let farmCultiv of this.listFarmCultiv;index as i">
                       <ion-row> 
                       <ion-col>
                          <ion-select class="edit-select" multiple="false" >
                             <ion-option  *ngFor="let seed of this.farmSeeds" 
                                         [selected]="seed.id == farmCultiv.farmSeed.id"    
                                          value="{{seed.id}}" >{{seed.seedName}}
                              </ion-option>
                          </ion-select>
                       </ion-col>
                       <ion-col>
                         <ion-item>
                           <ion-input type="text" formControlName="farmCATotalAreaSeed" value="{{farmCultiv.totalAreaSeed}}"name="title"></ion-input>
                         </ion-item>
                       </ion-col>
                       <ion-col>
                         <button ion-button round small outline  (click)="updateCultivArea(farmCultiv)">Editar</button>
                       </ion-col>
                     </ion-row>
                     </ion-list>
              </ion-card>
          </ion-col>
          
       </ion-row>

       <ion-row>
          <ion-col>
              <ion-card>
                   <ion-list *ngFor="let machine of this.listWorkMachines;index as i">
                     <ion-row> 
                     <ion-col>
                       <ion-item>
                         <ion-input type="text" formControlName="wmMachineBrandName" value="{{machine.machineModel.machineBrand.name}}" name="title"></ion-input>
                       </ion-item>
                     </ion-col>
                     <ion-col>
                        <ion-item>
                          <ion-input type="text" formControlName="wmTypeMachineName" value="{{machine.typeMachine.typeName}}" name="title"></ion-input>
                        </ion-item>
                     </ion-col>
                     <ion-col>
                        <ion-item>
                          <ion-input type="text" formControlName="wmMachineModelName" value="{{machine.machineModel.name}}" name="title"></ion-input>
                        </ion-item>
                     </ion-col>
                     <ion-col>
                        <ion-item>
                          <ion-input type="text" formControlName="wmMachineYear" value="{{machine.machineYear}}" name="title"></ion-input>
                        </ion-item>
                     </ion-col>
                     <ion-col>
                        <ion-item>
                          <ion-input type="text" formControlName="wmTypeMachineTotal" value="{{machine.machineQtd}}" name="title"></ion-input>
                        </ion-item>
                     </ion-col>
                     <ion-col>
                       <button ion-button round small outline (click)="goUpdateWorkMachine(machine)" >Editar</button>
                     </ion-col>
                   </ion-row>
                   </ion-list>
            </ion-card>
        </ion-col>
       </ion-row>

       <ion-col col-4>
            <button ion-button round small outline  (click)="saveData()">Salvar</button>
      </ion-col>
      </ion-grid>
      
    </form>
</ion-content>