<ion-header>
    <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="color:gold" >Editar Fazenda </ion-title>
      <ion-buttons end>
          <button ion-button > VOLTAR</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <form  [formGroup]="formGroup">
      <ion-grid>
        <ion-row>
        <ion-col>
            <ion-item>
                <ion-label>Tipo Equipamento</ion-label>
                <ion-select class="edit-select" multiple="false" formControlName="wmTypeMachineId">
                    <ion-option *ngFor="let type of this.listAllMachineTypes"  (ionSelect)="updateSelectTypeMachine(type)"
                                [selected]="type.id == wmTypeMachineId"    
                                value="{{type.id}}" >{{type.typeName}}
                    </ion-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-label>Marca</ion-label>
                <ion-select class="edit-select" multiple="false" formControlName="wmMachineBrandId"  >
                    <ion-option *ngFor="let brand of this.listAllBrands" (ionSelect)="refreshMachineModels(brand)"
                                [selected]="brand.id == wmMachineBrandId"    
                                value="{{brand.id}}" >{{brand.name}}
                    </ion-option>
                 </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-label>Modelo</ion-label>
                <ion-select class="edit-select" multiple="false" formControlName="wmMachineModelId">
                    <ion-option *ngFor="let model of this.listAllModels" (ionSelect)="updateSelectModel(model)"
                                [selected]="model.id == wmMachineModelId"    
                                value="{{model.id}}" >{{model.name}}
                    </ion-option>
                 </ion-select>
            </ion-item>
          </ion-col>
       
          <ion-col>
            <ion-item>
              <ion-label>Quantidade</ion-label>
              <ion-input type="text" formControlName="wmMachineQtd" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Ano</ion-label>
              <ion-input type="text" formControlName="wmMachineYear" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Concessionária</ion-label>
              <ion-input type="text" formControlName="wmMachineName" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>{{lblDetailOne}}</ion-label>
              <ion-input type="text" formControlName="wmDetailOne" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>{{lblDetailTwo}}</ion-label>
              <ion-input type="text" formControlName="wmDetailTwo" ></ion-input>
            </ion-item>
          </ion-col>
       </ion-row>
      </ion-grid>
      <ion-col col-4>
          <button ion-button round small outline  (click)="saveWorkMachine()">Salvar</button>
    </ion-col>
  </form>
</ion-content>
